

.user-form-container {
  width: 600px;
  max-width: 90%;
  padding: 40px;
  border-radius: 17px;
  border: 3px  #007bff;
  background: #ffffff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}



.user-photo-container {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 20px;
}

.user-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #007bff; /* Ajout d'une bordure bleue */
}

.user-details {
  margin-top: 20px;
}

.detail-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.detail-row label {
  font-weight: bold;
  font-size: 1rem;
  color: #495057;
  width: 35%;
}

.detail-row span,
.detail-row input {
  flex: 1;
  margin-left: 15px;
  font-size: 1rem;
}

.detail-row input {
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 8px;
  background: #f8f9fa;
  transition: border 0.3s ease, background 0.3s ease;
}

.detail-row input:focus {
  border-color: #007bff;
  background: #ffffff;
  outline: none;
}

.actions {
  display: flex;
   
  gap: 80px; /* Ajouter un espacement horizontal important entre les boutons */
  margin-top: 30px;
 
}

button {
  padding: 12px 30px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.btn-danger {
  background: #dc3545; /* Rouge pour le bouton de retour */
}


.blue-button {
  background: #40ce61; /* Vert pour le bouton de mise à jour */
}

