<div class="nav">
  <!-- Contenu du nav -->
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid justify-content-end">
      <!-- Photo de profil et Nom de l'utilisateur -->
      <div class="d-flex align-items-center">
        <!-- Photo de profil -->
        <div class="profile-photo-container">
          <img
            src="/images/profil.png"
            alt="Photo de profil"
            class="img-fluid rounded-circle profile-img"
          />
        </div>
        <!-- Nom de l'utilisateur -->
        <span class="ms-2">Nom de l'utilisateur</span>
      </div>
    </div>
  </nav>
</div>
