<div class="sidebar">
  <div class="text-center mb-4">
    <img src="" alt="Logo" class="img-fluid" style="width: 80px" />
  </div>
  <a href="#"><i class="fas fa-home"></i> Accueil</a>
  <a href="#"><i class="fas fa-user"></i> Gestion des utilisateurs</a>
  <a href="#"><i class="fas fa-cog"></i> Paramètres</a>

  <div class="toggle-container mt-4">
    <img src="/images/off.png" alt="Off" class="toggle-image" id="offIcon" />
    <div class="toggle-switch" id="toggleSwitch">
      <div class="toggle-knob"></div>
    </div>
    <img
      src="/images/on.gif"
      alt="On"
      class="toggle-image"
      id="onIcon"
      style="opacity: 0"
    />
  </div>

  <a href="#" class="logout mt-4">
    <i class="fas fa-sign-out-alt"></i> Déconnexion
  </a>
</div>
