/* Sidebar */
.sidebar {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  background-color: #ededf4;
  color: black;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  padding-top: 60px; /* Ajouté pour éviter de cacher la navbar */
}

.sidebar a {
  color: black;
  text-decoration: none;
  padding: 15px;
  display: block;
  transition: background-color 0.3s ease;
}

.sidebar a:hover {
  background-color: #8bb3f8;
}

.sidebar .logout {
  margin-top: 20px;
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: #ededf4;
  border-top: 5px solid #8bb3f8;
  color: black;
  text-decoration: none;
}

.sidebar .logout i {
  margin-right: 10px;
}

/* Contenu principal */
.content {
  margin-left: 250px;
  padding: 20px;
}

/* Styles du toggle switch dans la sidebar */
.toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  padding-bottom: 20px;
}

.toggle-image {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

/* Le switch lui-même */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  background-color: #ccc;
  border-radius: 34px;
  cursor: pointer;
}

/* Le "knob" du switch qui se déplace */
.toggle-knob {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

/* Active state du toggle switch */
.toggle-switch.active {
  background-color: #4caf50;
}

.toggle-switch.active .toggle-knob {
  transform: translateX(26px);
}

/* Cache l'image "On" quand le switch est désactivé */
#onIcon {
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Affiche l'image "Off" quand le switch est désactivé */
#offIcon {
  opacity: 1;
  transition: opacity 0.3s ease;
}

/* Affiche l'image "On" quand le switch est activé et cache l'image "Off" */
.toggle-switch.active #onIcon {
  opacity: 1;
}

.toggle-switch.active #offIcon {
  opacity: 0;
}

/* Masquer la sidebar sur mobile */
@media (max-width: 768px) {
  .sidebar {
    display: none;
    width: 0;
  }

  .sidebar.active {
    display: block;
    width: 250px;
  }
}
