<!-- Navbar -->
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid justify-content-end">
    <!-- Conteneur du profil utilisateur -->
    <div class="d-flex align-items-center position-relative profile-container">
      <!-- Photo de profil -->
      <div class="profile-photo-container">
        
        <img
          *ngIf="user?.photo"
          [src]="user.photo"
          alt="Photo de profil"
          class="img-fluid rounded-circle profile-img"
        />
        <img
          *ngIf="!user?.photo"
          src="/images/profil.png"
          alt="Photo par défaut"
          class="img-fluid rounded-circle profile-img"
        />
      </div>
      <!-- Nom et prénom de l'utilisateur -->
      <span class="ms-2">{{ user?.nom }} {{ user?.prenom }}</span>

      <!-- Sous-menu -->
      <div class="profile-menu">
        <a routerLink="/edit-profile" class="profile-menu-item">Modifier le profil</a>

      </div>
    </div>
  </div>
</nav>


<!-- Sidebar -->
<div class="sidebar">
  <div class="text-center mb-4">
      <img src="/images/tes.png" alt="Logo" class="img-fluid" style="width: 80px" />
  </div>
  <!-- Lien vers le dashboard -->
  <a routerLink="/dashboard" routerLinkActive="active"><i class="fas fa-home"></i> Accueil</a>
  <!-- Lien vers la gestion des utilisateurs -->
  
  <!-- Lien vers les paramètres -->
  

  <!-- Toggle switch positionné tout en bas -->
  <div class="toggle-container" (click)="toggleSwitch()">
      <img src="/images/h.webp" alt="Off" class="toggle-image" id="offIcon" />
      <div class="toggle-switch" id="toggleSwitch">
          <div class="toggle-knob"></div>
      </div>
      <img src="/images/200w.gif" alt="On" class="toggle-image" id="onIcon" />
  </div>

  <!-- Déconnexion en bas -->
  <a href="#" class="logout" (click)="authService.logout()">
      <i class="fas fa-sign-out-alt"></i> Déconnexion
  </a>
</div>