

<app-sidebar></app-sidebar>

<div class="content-wrapper container-fluid">
  <div *ngIf="showPersonalInfoForm || showAccountForm" class="card shadow-lg mb-4 mx-auto">
    <div class="card-body">
      <h5 class="card-title text-center mb-4">Mettre à jour l'Utilisateur</h5>
      <form
        (ngSubmit)="showPersonalInfoForm ? onSubmitPersonalInfo() : onSubmitAccountInfo()"
        #updateUserForm="ngForm"
      >
        <!-- Étape 1 : Informations personnelles -->
        <div *ngIf="showPersonalInfoForm">
          <div class="mb-3">
            <label for="nom" class="form-label">Nom</label>
            <input
              type="text"
              id="nom"
              [(ngModel)]="userPersonalInfo.nom"
              name="nom"
              class="form-control"
              placeholder="Saisir le nom"
              required
              (ngModelChange)="onNameChange()"
              #nom="ngModel"
            />
            <div *ngIf="errorMessage && !validateNameOrPrenom(userPersonalInfo.nom)" class="text-danger">
              {{ errorMessage }}
            </div>
          </div>

          <div class="mb-3">
            <label for="prenom" class="form-label">Prénom</label>
            <input
              type="text"
              id="prenom"
              [(ngModel)]="userPersonalInfo.prenom"
              name="prenom"
              class="form-control"
              placeholder="Saisir le prénom"
              required
              (ngModelChange)="onPrenomChange()"
              #prenom="ngModel"
            />
            <div *ngIf="errorMessage && !validateNameOrPrenom(userPersonalInfo.prenom)" class="text-danger">
              {{ errorMessage }}
            </div>
          </div>

          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input
              type="email"
              id="email"
              [(ngModel)]="userPersonalInfo.email"
              name="email"
              class="form-control"
              placeholder="Saisir l'email"
              required
              email
              (ngModelChange)="onEmailChange()"
              #email="ngModel"
            />
            <div *ngIf="errorMessage && !validateEmail(userPersonalInfo.email)" class="text-danger">
              {{ errorMessage }}
            </div>
          </div>

          <div class="mb-3">
            <label for="numero_tel" class="form-label">Numéro de Téléphone</label>
            <input
              type="tel"
              id="numero_tel"
              [(ngModel)]="userPersonalInfo.numero_tel"
              name="numero_tel"
              class="form-control"
              placeholder="Ex: 770123456"
              required
              (ngModelChange)="onPhoneNumberChange()"
              #numero_tel="ngModel"
            />
            <div *ngIf="errorMessage && !validatePhoneNumber(userPersonalInfo.numero_tel)" class="text-danger">
              {{ errorMessage }}
            </div>
          </div>
        </div>

        <!-- Étape 2 : Informations de compte -->
        <div *ngIf="showAccountForm">
          <div class="mb-3">
            <label for="oldPassword" class="form-label">Ancien Mot de Passe</label>
            <div class="input-group">
              <input
                type="{{ showPassword ? 'text' : 'password' }}"
                id="oldPassword"
                [(ngModel)]="userAccountInfo.oldPassword"
                name="oldPassword"
                class="form-control"
                placeholder="Ancien mot de passe"
                required
                #oldPassword="ngModel"
              />
              <span class="input-group-text" (click)="togglePasswordVisibility()">
                <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
              </span>
            </div>
            <div *ngIf="oldPassword.invalid && oldPassword.touched" class="text-danger">
              L'ancien mot de passe est requis.
            </div>
            <div *ngIf="invalidOldPasswordMessage" class="text-danger mt-1">
              {{ invalidOldPasswordMessage }}
            </div>
          </div>

          <div class="mb-3">
            <label for="password" class="form-label">Nouveau Mot de Passe</label>
            <div class="input-group">
              <input
                type="{{ showPassword ? 'text' : 'password' }}"
                id="password"
                [(ngModel)]="userAccountInfo.password"
                name="password"
                class="form-control"
                placeholder="Nouveau mot de passe"
                required
                minlength="8"
                (ngModelChange)="onNewPasswordChange()"
                #password="ngModel"
              />
              <span class="input-group-text" (click)="togglePasswordVisibility()">
                <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
              </span>
            </div>
            <div *ngIf="errorMessage && !validatePassword(userAccountInfo.password)" class="text-danger">
              {{ errorMessage }}
            </div>
          </div>

          <div class="mb-3">
            <label for="photo" class="form-label">Photo</label>
            <input type="file" id="photo" (change)="onFileChange($event)" class="form-control" />
          </div>
        </div>

        <div class="d-flex justify-content-between">
          <button type="button" class="btn btn-danger btn-sm" (click)="cancel()">Annuler</button>
          <button
            type="submit"
            class="btn btn-primary btn-sm"
            [disabled]="updateUserForm.invalid"
          >
            {{ showPersonalInfoForm ? 'Suivant' : 'Enregistrer' }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
