/* Cards */
.card {
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0;
  color: white;
  min-height: 200px;
}

.card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.card-title {
  font-size: 1.2rem;
  color: black;
}

.card-body p {
  font-size: 1.1rem;
  font-weight: bold;
  color: black;
}

/* Dégradé de couleurs pour les cards */
.card.primary-white {
  background: linear-gradient(135deg, #ededf6); /* Pink + Primary Pink */
  border: none;
  box-shadow: 0 0 10px 5px #8bb3f8;
}

/* Dégradé de couleurs pour les cards */
.card.primary-blue {
  background: linear-gradient(135deg, #ededf6); /* Pink + Primary Pink */
  border: none;
  box-shadow: 0 0 10px 5px #8bb3f8;
}

.card.primary-pink {
  background: linear-gradient(135deg, #ededf6); /* Pink + Primary Pink */
  border: none;
  box-shadow: 0 0 10px 5px #8bb3f8;
}

.card.primary-purple {
  background: linear-gradient(135deg, #ededf6); /* Purple + Primary Purple */
  border: none;
  box-shadow: 0 0 10px 5px #8bb3f8;
}

/* Cards dans la section de droite */
.right-cards .card {
  margin-bottom: 20px;
  background: linear-gradient(135deg, #ededf6); /* Pink + Primary Pink */
  border: 2px solid #6d92d0;
  box-shadow: 0 0 10px 5px #8bb3f8;
}

.bottom-card {
  width: 100%;
  background: linear-gradient(135deg, #ededf6); /* Pink + Primary Pink */
  border: 2px solid #6d92d0;
  box-shadow: 0 0 15px 5px #8bb3f8;
}

.primary-pink {
  background-image: url('/images/matin.jpg'); /* Remplacez par le chemin de votre image */
  background-size: cover; /* Pour que l'image couvre toute la carte */
  background-position: center; /* Pour centrer l'image */
  background-repeat: no-repeat; /* Évite que l'image se répète */
  border-radius: 10px; /* Optionnel : ajoute un effet arrondi */
  color: #fff; /* Ajuste le texte pour qu'il soit lisible */
  padding: 20px; /* Optionnel : espace intérieur */
}

.primary-purple {
  background-image: url('/images/midi.jpg'); /* Remplacez par le chemin de votre image */
  background-size: cover; /* Pour que l'image couvre toute la carte */
  background-position: center; /* Pour centrer l'image */
  background-repeat: no-repeat; /* Évite que l'image se répète */
  border-radius: 10px; /* Optionnel : ajoute un effet arrondi */
  color: #fff; /* Ajuste le texte pour qu'il soit lisible */
  padding: 20px; /* Optionnel : espace intérieur */
}

.primary-blue {
  background-image: url('/images/soir.jpg'); /* Remplacez par le chemin de votre image */
  background-size: cover; /* Pour que l'image couvre toute la carte */
  background-position: center; /* Pour centrer l'image */
  background-repeat: no-repeat; /* Évite que l'image se répète */
  border-radius: 10px; /* Optionnel : ajoute un effet arrondi */
  color: #fff; /* Ajuste le texte pour qu'il soit lisible */
  padding: 20px; /* Optionnel : espace intérieur */
}

.temperature-icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}




.cold-bg {
  background-image: url('/assets/images/cold.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  color: #fff;
  padding: 20px;
}

.moderate-bg {
  background-image: url('/assets/images/moderate.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  color: #fff;
  padding: 20px;
}

.hot-bg {
  background-image: url('/assets/images/hot.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  color: #fff;
  padding: 20px;
}

.default {
  background-color: #f5f5f5; /* Fond neutre par défaut */
  color: #000;
}

.fixed-background {
  background-image: url('/images/moyenne.png'); /* Remplacez par le chemin de votre image */
  background-size: cover; /* Pour couvrir tout le conteneur */
  background-position: center; /* Centrer l'image */
  background-repeat: no-repeat; /* Éviter la répétition de l'image */
  border-radius: 10px; /* Bords arrondis */
  color: #fff; /* Couleur de texte adaptée */
  padding: 20px; /* Ajoute un espace intérieur */
}





.logout {
  text-align: center;
  margin-top: 10px;
  color: #333; /* Couleur du texte */
  text-decoration: none; /* Supprimer le soulignement */
}

.logout:hover {
  color: #007bff; /* Changement de couleur au survol */
}
