/* Style global */
body {
  font-family: Arial, sans-serif;
  background: #f9f9f9;
  margin: 0;
  padding: 0;
}

/* Barre de navigation */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f9f9f9;
  z-index: 1000;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar .profile-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navbar .dark-mode-toggle {
  cursor: pointer;
  font-size: 1.2rem;
  margin-right: 20px;
  color: #333;
}

.navbar .profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.navbar-text {
  font-weight: bold;
}
.container {
  width: 713px; /* Largeur fixe */
  height: 664px; /* Hauteur fixe */
  background: #f9f9f9; /* Couleur avec opacité réduite (0.8) */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #007bff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box; /* Inclut les marges et bordures */
}


h2, h3 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input, select {
  width: 100%;
  padding: 10px 0; /* Padding pour donner un effet de ligne */
  margin-bottom: 15px;
  border: none; /* Supprimer les bordures */
  border-bottom: 2px solid #ddd; /* Lignes sous les inputs */
  background: transparent; /* Rendre le fond transparent */
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus, select:focus {
  border-bottom: 2px solid #007bff; /* Lignes bleues au focus */
  outline: none;
  box-shadow: none; /* Retirer l'ombre */
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn.cancel {
  background: red;
  color: white;
}

.btn {
  background: blue;
  color: white;
}

.form-step {
  display: none;
}

.form-step.active {
  display: block;
}



.invalid {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 12px;
}

.weak {
  color: red;
}

.medium {
  color: orange;
}

.strong {
  color: green;
}

.password-strength-bars {
  display: flex;
  gap: 5px;
}

.strength-bar {
  width: 25%;
  height: 5px;
  background-color: #ddd;
}

.weak {
  background-color: red;
}

.medium {
  background-color: orange;
}

.strong {
  background-color: yellow;
}

.very-strong {
  background-color: green;
}

.password-strength-text {
  margin-top: 5px;
}



